* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
/*********************
GENERAL STYLES
*********************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: $grey;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

section {
	flex: 1;

	nav a {
		width: 100%;
		display: block;
		margin: 0;

		&:nth-child(even) {
			margin: 0 0 0 20px;
		}
	}
}

footer {
	p {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 600px){
	section {
		margin: 110px;
	}
}