/*********************
GENERAL STYLES
*********************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: #565656;
}

/*********************
LAYOUT & GRID STYLES
*********************/


section {
	padding: 45px 0 0;

	nav a {
		width: 100%;
		display: block;
		margin: 0;

		&:nth-child(even) {
			margin: 0 0 0 20px;
		}
	}
}

