header {
	display: flex;
	justify-content: space-between;
	padding: 1em 3em;
	align-items: center;
	flex-direction: column;
	transition: all 0.5s;
	box-shadow: -1px 6px 14px rgba($black, 0.35);
	z-index: 99;

	a {
		text-decoration: none;
		position: relative;
		opacity: 0.6;
		top: 0;
		&::after {
			position: absolute;
			top: 75%;
			left: 0;
			width: 100%;
			height: 3px;
			background: rgba($white, 0.8);
			content: '';
			opacity: 0;
			transition: opacity 0.3s, transform 0.3s;
			transform: translateY(10px);
		}
		&:hover {
			opacity: 1;
			top: -5px;
			padding-bottom: 5px;
		}
		&:hover::after, &:focus::after {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	a, a:visited {
		color: $white;
		transition: all 0.3s;
	}

	nav {
		text-align: center;
		position: relative;
		a {
			margin: 0 5px;
		}
	}
}

@media screen and (min-width: 600px) {
	header {
		flex-direction: row;
		padding: 2em 3em;
		position: fixed;
		width: 100%;
		&.scrolled {
			opacity: 0.65;
		}
	}
}