$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$special:			$serif;

$white: #fff;
$black: #000;
$grey: #565656;
$grey-light: #999;
$grey-medium: #666;
$grey-dark: #222;

$primary-color: yellow;
$secondary-color: #B00000;
$tertiary-color: red;


/*********************
TOOLS
*********************/

.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

.ta_center {
	text-align: center;
}

.home header {       background: #2ecc71 }
.about header {      background: #f39c12 }
.projects header {   background: #e74c3c }
.contact header {    background: #3498db }
.blog header {       background: #34495e }
.resume header {     background: #d35400 }