$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$special:			$serif;

$white: #fff;
$black: #000;
$grey: #565656;
$grey-light: #999;
$grey-medium: #666;
$grey-dark: #222;

// $primary-color: yellow;
$secondary-color: #B00000;
$tertiary-color: red;

$blue: #3498db;
$blue_dark: #34495e;
$red: #e74c3c;
$green: #2ecc71;
$orange: #d35400;
$yellow: #f39c12;

/*********************
TOOLS
*********************/
@mixin clearfix {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
	zoom: 1;
}

.clearfix {
  @include clearfix;
}

.ta_center {
	text-align: center;
}

.home-body header {       background: $green }
.about-body header {      background: $yellow }
.projects-body header {   background: $red }
.contact-body header {    background: $blue }
.blog-body header {       background: $blue_dark }
.resume-body header {     background: $orange }