.resume-body {
	.personal_info {
		display: none;
	}

	h3, h4 {
		font-size: 0.95em;
	}

	p {
		font-size: 0.85em;
		clear: both;
		float: none;
	}

	h4 {
		margin: 4px 0 0;
		font-weight: normal;
		&:first-of-type {
			font-weight: bold;
		}
		&:last-of-type {
			font-style: italic;
		}

	}

	@media all and (min-width: 700px) {
 		h3, h4, p {
			font-size: 1em;
		}

		h3 {
			float: left;
			width: 20%;
		}

		h3 + div {
			width: 80%;
			float: left;
		}

		h4 {
			display: inline-block;
			width: 55%;
			float: left;

			&:nth-child(even) {
				width: 45%;
				text-align: right
			}
			&:last-of-type {
				width: 100%;
			}
		}

		.row {
			@include clearfix;
		}

		.personal_info + .row h3 {
			margin-top: 4px;
		}
	}


	@media print {
		.personal_info {
			display: block;
			width: 100%;
			h3, h4 {
				width: auto;
				text-decoration: none;
				display: block;
				float: none;
				text-align: left;
				font-style: normal;
				font-weight: normal;
				margin: 10px 0;
				line-height: 1.3;
			}
			h3 {
				font-weight: bold;
			}
			h4:nth-child(even) {
				text-align: left;
			}
		}

		header, h2, footer {
			display: none;
		}

		h3, h4, p {
			font-size: .8em;
			line-height: 1.35em;
		}

		h3 {
			float: left;
			width: 20%;
		}

		h3 + div {
			width: 80%;
			float: left;
		}

		h4 {
			display: inline-block;
			width: 65%;
			float: left;
			line-height: 1em;
			&:nth-child(even) {
				width: 35%;
				text-align: right
			}
		}
		.personal_info + .row h3 {
			margin-top: 4px;
		}

	}
	@media all and (min-width: 1000px) {
		h4 {
			width: 60%;
			&:nth-child(even) {
				width: 40%;
			}
		}
	}

}