.resume-body {
	.personal_info {
		display: none;
	}

	h3, h4 {
		font-size: 0.95em;
		font-weight: bold;
	}

	p {
		font-size: 0.85em;
		clear: both;
		float: none;
	}

	h4 {
		margin: 4px 0 0;
	}

	@media all and (min-width: 700px) {
 		h3, h4, p {
			font-size: 1.1em;
		}

		h3 {
			float: left;
			width: 20%;
		}

		h3 + div {
			width: 80%;
			float: left;
		}

		h4 {
			display: inline-block;
			width: 60%;
			float: left;
			&:nth-child(even) {
				width: 40%;
				text-align: right
			}
		}

		.experience {
			margin-top: 12px
		}

	}


	@media print {
		.personal_info {
			display: block;
			width: 100%;
			h3 {
				width: auto;
				text-decoration: none;
			}
		}

		header, h2, footer {
			display: none;
		}

		h3, h4, p {
			font-size: .9em;
			line-height: 1.35em;
		}

		h3 {
			float: left;
			width: 20%;
		}

		h3 + div {
			width: 80%;
			float: left;
		}

		h4 {
			display: inline-block;
			width: 65%;
			float: left;
			line-height: 1em;
			&:nth-child(even) {
				width: 35%;
				text-align: right
			}
		}

		.experience {
			margin-top: 12px
		}
	}
	@media all and (min-width: 1000px) {
		h4 {
			width: 60%;
			&:nth-child(even) {
				width: 40%;
			}
		}
	}

}