.resume {
	& > div {
		flex-direction: column;
	}
	div {
		display: flex;

		& > div {
			flex-wrap: wrap;
			margin: 14px 0 0;

			div {
				margin: 0 0 35px;
				flex-basis: 100%;
				justify-content: space-between;
				align-content: flex-start;
				p:last-of-type {
					margin: 0;
					font-size: 1em;
				}
				hr {
					border: 0;
					border-bottom: 1px solid $white;
					width: 1px;
					transition: all 0.5s;
				}
				&:hover {
					hr {
						width: 10%;
						border-bottom-color: #eee;
					}
				}
			}

		}
	}

	@media screen and (min-width: 800px) {
		& > div {
			flex-direction: row;
			justify-content: space-between;
		}

		div {
			h2 {
				flex-basis: 20%;
			}
			& > div {
				flex-basis: 74%;
			}
		}
	}
}